.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_chat {
    height: 605px;
    overflow-y: scroll;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.active_chat {
    background: #ebebeb;

}

.chat_people {
    overflow: hidden;
    clear: both;
}

.msgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
    height: 605px;
}

.msgs_title {
    text-align: center;
}

.msg_history {
    height: 434px;
    overflow-y: auto;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}


