
@model List<TestChatApp.Models.User>

<h2>Welcome to your profile: <i>@User.Identity.Name</i></h2>

<h2>User Friends:</h2>

<table class="table">
    
    

    <tr>
        <th>Friend Name</th>
    </tr>
    @foreach (var friend in Model)
    {
        <tr>
            <td>@friend.Email</td>
        </tr>
    }

</table>
<br/>

<div>
    @Html.ActionLink("Go to the conversation room", "Index", "Conversation", null, new { @class = "btn btn-primary" })
</div>
