
<link href="~/Content/Chat.css" type="text/css">

<h2 data-bind="text: chattedWithPerson"></h2>
<div class="type_msg">
    <div class="input_msg_write">
        <ul class="msg_history" id="discussion" data-bind="foreach: messages">
            <li></li>
        </ul>

        <input id="message" type="text" placeholder="Type a message">
        <button class="msg_send_btn" type="button"><i class="fa" aria-hidden="true"></i></button>
    </div>
</div>

