
<link href="~/Content/Chat.css" type="text/css">


<div class="msgs_title"><h4 data-bind="text: chattedWithPerson"></h4></div>
<div class="type_msg">
    <div class="input_msg_write">
        <ul class="msg_history" id="discussion" data-bind="foreach: messages">
            <li><strong data-bind="text: ChatMessage"></strong></li>
            <li><i data-bind="text: DateTime"></i></li>

        </ul>
       <div class="input-group mb-3">
           <input class="form-control" id="message" data-bind="value: message" type="text" placeholder="Type a message">
           <div class="input-group-append">
               <button class="btn btn-outline-success" type="button" data-bind="click: $root.sendMessage">Send Message</button>
           </div>
       </div>
    </div>
</div>

